body{
    background-color: black;
    overflow:visible;
  }
  
  /* headings */
  h1 {
    color: white;
    width: 99%;
    background-color: black;
    font-weight: bolder;
    font-size: 38px;
    border: rgb(255, 255, 255) solid;
    border-radius: 9px;
    padding: 3px;
    margin: 0px;
    text-align: center;
    justify-content: center;
    text-shadow: 1px 1px 1px white;
  }
  h1:hover {
    color: rgb(255, 255, 255);
  }
  
p{
    color: white;
    background-color: black;
    font-weight: bolder;
    font-size: 20px;
    padding: 3px;
    margin: 10px 34px 0px 34px;
    text-shadow: 7px 7px 7px white;
}
  
  /* links and topics */
  a {
    color: white;
    background-color: black;
    background-position: left;
    width: 300px;
    font-weight: bold;
    font-size: 22px;
    /*border: blue solid;*/
    padding: 2px;
    margin: 10px 1px;
    text-align: left;
    border-radius: 8px;
    box-shadow: -7px 7px 10px white;
  }
  a:hover {
    color: rgb(255, 255, 255);
  }
  
  .app {
    list-style: none;
    display: block;
    float: left;
  }
  li {
    margin: 14px;
  }
  .name{
    float: right;
  }
  img {
    float: right;
    width: 50%;
    padding: 25px 25px;
    border: black 3px solid;
    border-radius: 25px;
    margin-right: 150px;
    margin-top: 120px;
  }